body {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.container {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: 0;
    color: #f9faf8;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.description-container {
    display: flex;
    align-items: center;
    flex: 1;
    color: #f9faf8;
    padding: 100px;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 12px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

.list-items {
    display: flex;
    gap: 16px;
}

.description-title {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

/* .description-text {
    width: 300px;
} */

.description { 
    display: flex;
    flex-direction: column;
    width: 45%;
}
.random-info {
    text-align: center;
}

button {
    background-color: #3882f6;
    color: #fff;
    font-weight: 900;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.img-container {
    background-color: #778899;
    text-align: center;
    width: 55%;
    padding: 75px;
}

.quote-container {
    padding: 75px 200px;
    background-color: #e5e7eb;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.author-container {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    text-align: end;
}

.sign-up-container {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    justify-content: space-evenly;
    margin: 75px 100px;
    padding: 30px 100px;
    border-radius: 5px;
}

.button-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-2 {
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    border-color: #fff;
    border-style: solid;
    font-weight: 900;
    padding: 3px 20px;
    font-size: 10px;
    align-self: center;
    flex-shrink: 0;
}

.action-text {
    font-size: 16px;
    color: #fff;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.sign-up-text {
    font-size: 10px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.subtext-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.img-collection-container {
    padding: 0 150px;
}

.white-img {
    border-radius: 5px; 
    border-color: #3882f6;
    border-style: solid;
}